{% extends 'base.html' %}
{% block content %}
{% load static %}

    <!-- carusel-add -->
    <div class="box">
        <div class="container carusel-box">
            <div class="anime">
                <!-- <div class="img-box oshakun" style="background-image: url('./images/bg.jpg');"> -->
                    <div class="birga">
                        <div class="width">
                            <h1 class="box-h1"> Bu yerda siz biz haqimizda barcha ma'lumot bilishingiz, <br> va bizning jamodagi dasturchilarni ko'rishingiz mumkun! </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="construction">
        <div class="container const-box">
            <h1 class="umummiy">Bizning jamoa haqida ma'lumot </h1>
            <p style="text-align: center;" class="malumot"> Bizning jamoda chet davlatlarida tajriba oshirib kelgan dasturchilardir <br>
            va bizning jamoamizdagi barcha dasturchilar senior darajaga ega dasturchilardir </p>
        </div>
    </div>
    <!-- product -->
    <div class="product sellf">
        <div class="container product-box">
            <div data-aos-duration="2000" data-aos="fade-up" class="line-1">
                <div class="line-left">
                    <h2 class="math-h2">Ulug'beb Samigjonov</h2>
                    <p class="plar">Senior frontend developer</p>
                </div>
                <div class="img-math">
                    <img src="../static/img/ulugbeksam.jpeg" alt="">
                </div>
            </div>

            <div data-aos-duration="2000" data-aos="fade-down" class="line-1 reverce">
                <div class="img-math">
                    <img src="../static/img/sariqdev.jpeg" alt="">
                </div>
                <div class="line-left">
                    <h2 class="math-h2">Anvar Narzullayev</h2>
                    <p class="plar">Full Stack Backend dasturchi senior darajada</p>
                </div>
            </div>

            <div data-aos-duration="2000" data-aos="fade-up" class="line-1">
                <div class="line-left">
                    <h2 class="math-h2">Muhammadjavohir Suratov</h2>
                    <p class="plar"> Full Stack frontend dasturchi daraja senior </p>
                </div>
                <div class="img-math">
                    <img src="../static/img/muhammadjavohir.jpeg" alt="">
                </div>
            </div>

            <div data-aos-duration="2000" data-aos="fade-down" class="line-1 reverce">
                <div class="img-math">
                    <img src="../static/img/saud.jpeg" alt="">
                </div>
                <div class="line-left">
                    <h2 class="math-h2"> Saud Abdulwahed </h2>
                    <p class="plar">Full stack Flutter dasturchi daraja senior</p>
                </div>
            </div>
            <div data-aos-duration="2000" data-aos="fade-up" class="line-1">
                <div class="line-left">
                    <h2 class="math-h2">Botir Ziyatov</h2>
                    <p class="plar">Full stack Backend dasturchi daraja senior</p>
                </div>
                <div class="img-math">
                    <img src="../static/img/botirjon.jpeg" alt="">
                </div>
            </div>

            <div data-aos-duration="2000" data-aos="fade-down" class="line-1 reverce none">
                <div class="img-math">
                    <img src="../static/img/akmalkad.jpeg" alt="">
                </div>
                <div class="line-left">
                    <h2 class="math-h2">Akmal Kadirov</h2>
                    <p class="plar malumot">Full stack web dasturchi daraja senior</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
