{% extends 'base.html' %}
{% block content %}
{% load static %}
    <!-- carusel-add -->
<div class="box">
    <div class="container carusel-box">
        <div class="anime">
            <!-- <div class="img-box jaji" style="background-image: url('./images/bg.jpg');"> -->
                <div class="birga">
                    <div class="width">
                        <h1 class="box-h1"> Bu yerda bizning manzlillarimizni ko'rishingiz mumkun! <br> Murojat qilish vaxti: 09:00 dan 18:00 gacha </h1>
                    </div>
                </div>
                <div class="img-png">
                    <img src="./img/boglanish.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="construction">
        <div class="container const-box">
            <h1 class="umummiy">Biz bilan oson boglanish</h1>
            <p style="text-align: center;" class="malumot">Zamon IT Academy'da zamonaviy va zamon talabidagi kasbklarni <br> topishingiz mumkun! Bizning markazimiz haqida ko'proq ma'lumot omohchi bo'lsangiz <br> ko'rsatilgan telefon
                nomeriga telefon qilishingiz mumkun: +99899-999-99-99
            </p>
        </div>
    </div>
    <!-- map -->
<div class="hero-contact">
    <div class="container hero-con">
        <div class="down-contact">
            <div class="left-dow">
                <h2 class="h222"> Ijtimoiy sahifalarimizga obuna bo'ling! </h2>
                <div>
                    <i class="bi bi-telegram"></i>
                    <a href="#">Telegram</a>
                </div>
                <div>
                    <i class="bi bi-youtube"></i>
                    <a href="#"> Youtube</a>
                </div>
                <div>
                    <i class="bi bi-facebook"></i>
                    <a href="#"> Facebook </a>
                </div>
                <div>
                    <i class="bi bi-instagram"></i>
                    <a href="#">Instagram</a>
                </div>
            </div>
            <div class="right-dow">
                <iframe
                        src="https://www.google.com/maps/place/Astrum+-+%D0%98%D0%A2+%D0%90%D0%BA%D0%B0%D0%B4%D0%B5%D0%BC%D0%B8%D1%8F/@41.3135458,69.5262284,17z/data=!3m1!4b1!4m5!3m4!1s0x38ae5774bb568c81:0x5a794f7263a1e89a!8m2!3d41.3135419!4d69.5283904
                        style="border:0;" allowfullscreen="" loading="lazy" class="map"></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock %}
